
<div class="ms-3">
<h1>Stupid Coaching answer</h1>

<div class="mt-4 p-3 rounded" style="max-width: 400px; background-color:rgb(255, 254, 241); border-left: 5px solid #d3d3d3;">
<p><%=@ask%></p>
<em>-You</em>
</div>

<div class="mt-4 p-3 rounded" style="max-width: 400px; background-color: #fff9c4; border-left: 5px solid #d3d3d3;">
  <p><%=@coach%></p>
<em>-Your coach</em>
</div>

<div class="mt-4">
<%= link_to "Ask a new question", ask_path %>
</div>
</div>
